.restaurant {

  &-schedule {
    padding: 0 30px;

    &__default {
      display: flex;
      margin-bottom: 30px;

      &-select {
        flex: 1;
        max-width: 300px;
        margin-right: 20px;
      }

      &--submit {
        @include button-animate;
        align-self: flex-end;
        margin-bottom: 10px;
        font-weight: $font-weight-bold;
        min-width: 100px;
      }

    }

    &__daily {
      margin-top: 20px;

      &-header {
        @include table-header;

        &--name {
          @include table-header-item;
          flex: 1;
        }

        &--day {
          @include table-header-item;
          flex: 3;
        }

        &--night {
          @include table-header-item;
          flex: 3;
        }

        &--edit {
          @include table-header-item;
          flex: 1;
          text-align: center;
        }
      }

      &-item {
        @include table-row;

        &:last-child {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
        }

        &--name {
          @include table-content-item;
          flex: 1;
          color: $lighter-color;
        }

        &--day {
          @include table-content-item;
          flex: 3;
          color: $dark-bg-color;
          font-weight: $font-weight-medium;
        }

        &--night {
          @include table-content-item;
          flex: 3;
          font-weight: $font-weight-medium;
          color: $dark-bg-color;
        }

        &--edit {
          @include table-content-item;
          color: $text-color;
          text-align: center;
          &-icon {
            position: relative;
            width: 15px;
            height: 14px;
            fill: $dark-brand-color;
            cursor: pointer;
          }
        }
      }

    }

    &__custom {
      display: flex;
      margin-top: 50px;

      &-date {
        margin-right: 20px;
      }

      &-plan {
        flex: 1;
        margin-right: 20px;
      }

      &-shift {
        margin-right: 20px;
      }

      &--submit {
        @include button-animate;
        align-self: flex-end;
        margin-bottom: 10px;
        font-weight: $font-weight-bold;
        min-width: 100px;
      }
    }

    &__records {
      @include border-radius;
      margin: 30px 0;

      &-header {
        @include table-header;

        &--day {
          @include table-header-item;
          flex: 2;
        }

        &--date {
          @include table-header-item;
          flex: 2;
        }

        &--name {
          @include table-header-item;
          flex: 2;
        }

        &--time {
          @include table-header-item;
          flex: 2;
          color: $dark-brand-color;
        }

        &--delete {
          @include table-header-item;
          color: $dark-brand-color;
          text-align: center;
        }
      }

      &-item {
        @include table-row;

        &:last-child {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
        }

        &--day {
          @include table-content-item;
          flex: 2;
          color: $lighter-color;
        }

        &--date {
          @include table-content-item;
          flex: 2;
          font-weight: $font-weight-medium;
          color: $dark-bg-color;
        }

        &--name {
          @include table-content-item;
          flex: 2;
          font-weight: $font-weight-medium;
          color: $dark-bg-color;
        }

        &--time {
          @include table-content-item;
          flex: 2;
          font-weight: $font-weight-medium;
          color: $dark-bg-color;
        }

        &--delete {
          @include table-content-item;
          color: $text-color;
          text-align: center;
          margin-right: 0;
          &-icon {
            position: relative;
            width: 11px;
            height: 11px;
            fill: $error-color;
            cursor: pointer;
          }
        }
      }

    }

    &__modal-rewrite {

      .modal-dialog {
        max-width: 300px;
      }

      &--title {
        text-align: center;
        color: $dark-brand-color;
        font-size: $font-size-big;
        font-weight: $font-weight-bold;
        margin-bottom: 40px;
      }

      &--content {
        text-align: center;
      }

      &--submit {
        @include button-animate;
        font-weight: $font-weight-bold;
        margin: 20px auto 0;
        min-width: 100px;
      }

    }

    &__modal-edit {

      .modal-dialog {
        max-width: 300px;
      }

      &--title {
        text-align: center;
        color: $dark-brand-color;
        font-size: $font-size-big;
        font-weight: $font-weight-bold;
        margin-bottom: 20px;
      }

      &--submit {
        @include button-animate;
        font-weight: $font-weight-bold;
        margin: 20px auto 0;
        min-width: 100px;
      }

    }

    &__modal-delete {

      .modal-dialog {
        max-width: 300px;
      }

      &--title {
        text-align: center;
        color: $dark-brand-color;
        font-size: $font-size-big;
        font-weight: $font-weight-bold;
        margin-bottom: 20px;
      }

      &--content {
        text-align: center;
      }

      &--submit {
        @include modal-submit;
      }

    }

  }

}